# Django settings
SECRET_KEY=your_secret_key
DEBUG=True

# Database
NAME=your_db_name
USER=your_user_name
PASSWORD=your_password
HOST=localhost
PORT=5432

# API
STRIPE_SECRET_KEY=your_secret_key
STRIPE_PUBLISHABLE_KEY=your_publishable_key

# Redis
REDIS_URL=redis://localhost:6379

# Celery
CELERY_BROKER_URL=your_broker_url
CELERY_RESULT_BACKEND=your_result_backend
CELERY_TIMEZONE=UTC
CELERY_TASK_TRACK_STARTED=True
CELERY_TASK_TIME_LIMIT=1800

# Email (Yandex example)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_USE_TLS=False
EMAIL_HOST_USER=your-email@yandex.ru
EMAIL_HOST_PASSWORD=your_16_digit_app_password
DEFAULT_FROM_EMAIL=your-email@yandex.ru

# Site URL
SITE_URL=https://yourdomain.com
