SECRET_KEY=your_secret_key

DEBUG=True

NAME=your_db_name
USER=your_user_name
PASSWORD=your_password
HOST=localhost
PORT=your_port

AUTH_USER_MODEL=your_auth_user_model

REST_FRAMEWORK=use_documentation_sample