SECRET_KEY=your_secret_key

DEBUG=True

NAME=your_db_name
USER=your_user_name
PASSWORD=your_password
HOST=localhost
PORT=your_port

STRIPE_SECRET_KEY=your_secret_key
STRIPE_PUBLISHABLE_KEY=your_publishable_key
